<!DOCTYPE html>
<html lang="en">
<head>
	<title>MW Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<!-- <link rel="icon" type="image/png" href="/static/images/icons/favicon.png"> -->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/MagnificPopup/magnific-popup.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <!-- profile link -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/admin/imgs/theme/favicon.svg">
    <link href="/static/admin/css/main.css" rel="stylesheet" type="text/css" />
    <!-- ends -->
    <!-- checkout -->
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <link rel="stylesheet" href="/static/assets/css/skins/skin-demo-8.css">
    <link rel="stylesheet" href="/static/assets/css/demos/demo-8.css">
    <!--  -->
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!--===============================================================================================-->
<style>
	/* Styles for the checkout section */
.checkout {
  padding: 30px;
  background-color: #f8f8f8;
}

.shipping-address {
  margin-bottom: 30px;
}

.add-address-btn {
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;
}

.address-container {
  margin-top: 20px;
  
}

.address-card {
  margin-bottom: 20px;
  padding-left: 10px;
}

.no-address {
  margin-top: 20px;
}

.summary {
  padding: 20px;
  background-color: #fff;
}

.summary-title {
  margin-bottom: 20px;
}

.btn-order {
  font-size: 20px;
  padding: 12px 24px;
}

/* Custom styles for the "Place Order" button */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus,
.btn-primary.focus {
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: #0062cc;
  border-color: #005cbf;
}






</style>

</head>
<body class="animsition">
	
	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			<div class="top-bar">
				<div class="content-topbar flex-sb-m h-full container">
					<div class="left-top-bar">
						Free shipping for standard order over $100
					</div>

					<div class="right-top-bar flex-w h-full">
						<a href="#" class="flex-c-m trans-04 p-lr-25">
							Help & FAQs
						</a>

						<!-- <li class="account">
                            <a href="#">
                                My Account
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="account_selection">
                                <li><a href="#login"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
                                <li><a href="#signup"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
                            </ul>
                        </li> -->

						<li class="language" style="background: none;">
                            <a href="#">
                                English
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="language_selection">
                                <li><a href="#">French</a></li>
                                <li><a href="#">Italian</a></li>
                                <li><a href="#">German</a></li>
                                <li><a href="#">Spanish</a></li>
                            </ul>
                        </li>

						<li class="currency" style="background: none;">
                            <a href="#">
                                INR
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="currency_selection">
                                <li><a href="#">USD</a></li>
                                <li><a href="#">AUD</a></li>
                                <li><a href="#">EUR</a></li>
                                <li><a href="#">GBP</a></li>
                            </ul>
                        </li>
					</div>
				</div>
			</div>

			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop container">
					
					<!-- Logo desktop -->		
					<!-- <a href="#" class="logo">
						<img src="images/icons/logo-01.png" alt="IMG-LOGO">
					</a> -->
					<div class="logo_container">
						<a href="#">Shop<span>Marvels</span></a>
					</div>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li>
								<a href="/">Home</a>
							</li>
							<li class="active-menu">
								<a href="index.html">Shop</a>
								<ul class="sub-menu">
									<% category.forEach(function(data) { %>
									
									<li><a href=""><%=data.categoryname%></a></li>

									<% }) %>
									<!--  -->
								</ul>
							</li>

							

							<li class="label1" data-label1="hot">
								<a href="">Features</a>
							</li>

							<!-- <li>
								<a href="blog.html">Blog</a>
							</li> -->

							<li>
								<a href="">About</a>
							</li>

							<li>
								<a href="">Contact</a>
							</li>
						</ul>
					</div>	

					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m">
						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
							<!-- <i class="zmdi zmdi-search"></i> -->
						</div>

						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11  js-show-cart" >
							<a href="/cart" style="color: black;"><i class="zmdi zmdi-shopping-cart"></i></a>
						</div>

						<a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 " >
							<i class="zmdi zmdi-favorite-outline"></i>
						</a>
					</div>
					<%if(session){%>
                    <li class="account">
                        <a href="#">
                            <i class="fa fa-user"></i>  My Account
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="account_selection">
                            <li><a href="/profile"><i class="fa fa-user" aria-hidden="true"></i>Profile</a></li>
                            <li><a href="/logout"><i class="fa fa-sign-in" aria-hidden="true"></i>Logout</a></li>
                        </ul>
                    </li>
					<%}else{%>
						<li class="account">
							<a href="#">
								<i class="fa fa-user"></i>  My Account
								<i class="fa fa-angle-down"></i>
							</a>
							<ul class="account_selection">
								<li><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
								<li><a href="/signup"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
							</ul>
						</li>
					<%}%>

				</nav>
			</div>	
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->		
			<!-- <div class="logo-mobile">
				<a href="index.html"><img src="images/icons/logo-01.png" alt="IMG-LOGO"></a>
			</div> -->
            <div class="logo_mobile">
                <a href="#">Shop<span>Marvel</span></a>
            </div>

			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m m-r-15">
				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
					<!-- <i class="zmdi zmdi-search"></i> -->
				</div>

				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10  js-show-cart" >
					<i class="zmdi zmdi-shopping-cart"></i>
				</div>

				<a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 " >
					<i class="zmdi zmdi-favorite-outline"></i>
				</a>
				<%if(session){%>
                    <li class="account icon-header-item cl2 hov-cl1 trans-04">
                        <a href="#">
                            <i class="fa fa-user"></i>  
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="account_selection">
                            <li><a href="/profile"><i class="fa fa-user" aria-hidden="true"></i>Profile</a></li>
                            <li><a href="/logout"><i class="fa fa-sign-in" aria-hidden="true"></i>Logout</a></li>
                        </ul>
                    </li>
					<%}else{%>
						<li class="account icon-header-item cl2 hov-cl1 trans-04">
							<a href="#">
								<i class="fa fa-user"></i>  
								<i class="fa fa-angle-down"></i>
							</a>
							<ul class="account_selection">
								<li><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
								<li><a href="/signup"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
							</ul>
						</li>
					<%}%>
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="topbar-mobile">
				<li>
					<div class="left-top-bar">
						Free shipping for standard order over $100
					</div>
				</li>

				<li>
					<div class="right-top-bar flex-w h-full">
						<a href="#" class="flex-c-m p-lr-10 trans-04">
							Help & FAQs
						</a>

						<!-- <a href="#" class="flex-c-m p-lr-10 trans-04">
							My Account
						</a> -->

						<a href="#" class="flex-c-m p-lr-10 trans-04">
							EN
						</a>

						<a href="#" class="flex-c-m p-lr-10 trans-04">
							INR
						</a>
					</div>
				</li>
			</ul>

			<ul class="main-menu-m">
                <li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="index.html">Shop</a>
					<ul class="sub-menu-m">
						<% category.forEach(function(data) { %>
									
							<li><a href=""><%=data.categoryname%></a></li>
							
							<% }) %>
					</ul>
					<span class="arrow-main-menu-m">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</span>
				</li>

				

				<li>
					<a href="" class="label1 rs1" data-label1="hot">Features</a>
				</li>

				<!-- <li>
					<a href="blog.html">Blog</a>
				</li> -->

				<li>
					<a href="">About</a>
				</li>

				<li>
					<a href="">Contact</a>
				</li>
			</ul>
		</div>

		<!-- Modal Search -->
		<!-- <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<div class="container-search-header">
				<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
					<img src="images/icons/icon-close2.png" alt="CLOSE">
				</button>

				<form class="wrap-search-header flex-w p-l-15">
					<button class="flex-c-m trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>
					<input class="plh3" type="text" name="search" placeholder="Search...">
				</form>
			</div>
		</div> -->
	</header>

    <!-- checkouts -->
    <div class="page-content p-t-115 p-b-85">
        <div class="checkout">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="shipping-address">
                            <% if (addresses.length > 0) { %>
                            <h3 class="card-title my-2">Shipping Address</h3>
                            <a class="btn btn-primary add-address-btn" id="tab-add-link" href="/useraddress">
                                Add New Address<i class="icon-edit"></i>
                            </a>
                            <div class="address-container">
                                <% addresses.reverse().forEach(function(address) { %>
                                <div class="card address-card">
                                    <div class="card-body">
                                        <input class="form-check-input mt-5 address" id="<%= address._id %>" type="radio" value="<%= address._id %>" name="customerAddress" required/>
                                        <p class="card-text">
                                            <strong><%= address.houseName %></strong>,<br>
                                            <%= address.village %>,<br>
                                            <%= address.landmark %>,<br>
                                            <%= address.city %>, <%= address.state %>. Pin: <%= address.pincode %><br>
                                            Phone No: <%= address.mobile %>
                                        </p>
                                    </div>
                                </div>
                                <% }); %>
                            </div>
                            <% } else { %>
                            <h5 class="no-address">No Address Saved.</h5>
                            <a href="/useraddress" class="btn btn-primary add-address-btn">
                                <span>Add Address</span><i class="icon-long-arrow-right"></i>
                            </a>
                            <% } %>     
                        </div><!-- End .shipping-address -->
						<div class="cart-discount">
							<form action="#">
							  <p style="color: green;" id="success"></p>
							  <p style="color: red;" id="invalid"></p>
							  <div class="input-group mt-2">
								<input type="text" class="form-control" id="couponcode" name="couponcode" placeholder="Coupon Code" style="font-size: 1.5em;" />
								<div class="input-group-append">
								  <button style="height: auto; margin-top: .6em; background-color: #088178; color: #fff; border: none; padding: 0.5em 1.3em; cursor: pointer; font-size:1.1em;" class="couponbtn btn btn-outline-primary-3" type="button">
									<i class="icon-long-arrow-right"></i>
									Apply
								  </button>
								</div><!-- .End .input-group-append -->
							  </div><!-- End .input-group -->
							</form>
						  </div><!-- End .cart-discount -->
						<p class="mb-1">You Can use Any one coupon</p>
						<div class="row">
							<% coupons.forEach(coupon => { %>
								<div class="col-lg-6">
									<div class="card card-dashboard">
									  <div class="card-body" style="background-color: rgb(66, 191, 207); color: white; text-align: left;">
										<h3 class="card-title" style="color: white;">Coupon Code: <%-coupon.couponCode%></h3>
										Discount Price: ₹ <%-coupon.couponAmount%><br>
										For Every Purchase above ₹ <%-coupon.minimumAmount%><br>
										Coupon Valid until <%=new Date(coupon.expireDate).toLocaleDateString()%><br>
									  </div><!-- End .card-body -->
									</div><!-- End .card-dashboard -->
								  </div>
								  <!-- End .col-lg-6 -->
							<% }) %>
						</div>
                    </div><!-- End .col-lg-8 -->
                    <aside class="col-lg-4">
                        <div class="summary">
                            <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                            <table id="protable" class="table table-summary">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <% products.products.forEach((product) => { %>
                                    <tr>
                                        <td><a href="#"><%= product.productid.productname %></a></td>
                                        <td class="proprice">₹<%= product.productid.offerprice * product.quantity %>.00</td>
                                    </tr>
                                    <% }) %>

                                    <tr class="summary-subtotal">
                                        <td>Subtotal:</td>
                                        <td id="subtotal"></td>
                                    </tr><!-- End .summary-subtotal -->
									<tr>
                                        <td>Coupon Discount:</td>
                                        <td id="discount">₹0.00</td>
                                    </tr>
                                    <tr>
                                        <td>Shipping:</td>
                                        <td>Free shipping</td>
                                    </tr>
                                    <tr class="summary-total">
                                        <td>Total:</td>
                                        <td id="finaltotal"></td>
                                    </tr><!-- End .summary-total -->
                                </tbody>
                            </table><!-- End .table table-summary -->

                            <div class="accordion-summary" id="accordion-payment">
								<div class="card">
								  <div class="card-header" id="heading-1">
									<h2 class="card-title">
									  <a class="method" role="button" data-method="COD" value="COD" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
										Cash on delivery
									  </a>
									</h2>
								  </div><!-- End .card-header -->
								  <div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-payment">
									<div class="card-body">
									</div><!-- End .card-body -->
								  </div><!-- End .collapse -->
								</div><!-- End .card -->
								<div class="card">
								  <div class="card-header" id="heading-4">
									<h2 class="card-title">
									  <a class="collapsed method" value="Razorpay" role="button" data-method="Razorpay" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
										Razorpay
									  </a>
									</h2>
								  </div><!-- End .card-header -->
								  <div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-payment">
									<div class="card-body">
									  
									</div><!-- End .card-body -->
								  </div><!-- End .collapse -->
								</div><!-- End .card -->
								<div class="card">
									<div class="card-header" id="heading-3">
									  <h2 class="card-title">
										<a class="collapsed method" value="Wallet" role="button" data-method="Wallet" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
										  Your Wallet
										</a>
									  </h2>
									</div><!-- End .card-header -->
									<div id="collapse-2" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
									  <div class="card-body">
										<!-- Add any content related to the wallet payment method here -->
									  </div><!-- End .card-body -->
									</div><!-- End .collapse -->
								  </div><!-- End .card -->
								  
								  
								
							  </div><!-- End .accordion -->

                            <button type="submit" id="placeOrder" class="btn btn-primary btn-order btn-block btn-lg">
                                <span>Place Order</span>
                            </button>
                        </div><!-- End .summary -->
                    </aside><!-- End .col-lg-4 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
    
	


    <footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Categories
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								T-shirts
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Hoodies
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Gadgets
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Accessories
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Help
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Track Order
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Returns 
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Shipping
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								FAQs
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						GET IN TOUCH
					</h4>

					<p class="stext-107 cl7 size-201">
						Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
					</p>

					<div class="p-t-27">
						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-instagram"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-pinterest-p"></i>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Newsletter
					</h4>

					<form>
						<div class="wrap-input1 w-full p-b-4">
							<input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="email here">
							<div class="focus-input1 trans-04"></div>
						</div>

						<div class="p-t-18">
							<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
								Subscribe
							</button>
						</div>
					</form>
				</div>
			</div>

			<div class="p-t-40">
				<div class="flex-c-m flex-w p-b-18">
					<a href="#" class="m-all-1">
						<img src="/static/images/icons/icon-pay-01.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="/static/images/icons/icon-pay-02.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="/static/images/icons/icon-pay-03.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="/static/images/icons/icon-pay-04.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="/static/images/icons/icon-pay-05.png" alt="ICON-PAY">
					</a>
				</div>

				<p class="stext-107 cl6 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Marvel Wears.com
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

				</p>
			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!-- Modal1 -->
	<div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
		<div class="overlay-modal1 js-hide-modal1"></div>

		<div class="container">
			<div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
				<button class="how-pos3 hov3 trans-04 js-hide-modal1">
					<img src="/static/images/icons/icon-close.png" alt="CLOSE">
				</button>

				<div class="row">
					<div class="col-md-6 col-lg-7 p-b-30">
						<div class="p-l-25 p-r-30 p-lr-0-lg">
							<div class="wrap-slick3 flex-sb flex-w">
								<div class="wrap-slick3-dots"></div>
								<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

								<div class="slick3 gallery-lb">
									<div class="item-slick3" data-thumb="/static/images/product-detail-01.jpg">
										<div class="wrap-pic-w pos-relative">
											<img src="/static/images/product-detail-01.jpg" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/static/images/product-detail-01.jpg">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>

									<div class="item-slick3" data-thumb="/static/images/product-detail-02.jpg">
										<div class="wrap-pic-w pos-relative">
											<img src="/static/images/product-detail-02.jpg" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/static/images/product-detail-02.jpg">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>

									<div class="item-slick3" data-thumb="/static/images/product-detail-03.jpg">
										<div class="wrap-pic-w pos-relative">
											<img src="/static/images/product-detail-03.jpg" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/static/images/product-detail-03.jpg">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-6 col-lg-5 p-b-30">
						<div class="p-r-50 p-t-5 p-lr-0-lg">
							<h4 class="mtext-105 cl2 js-name-detail p-b-14">
								Lightweight Jacket
							</h4>

							<span class="mtext-106 cl2">
								$58.79
							</span>

							<p class="stext-102 cl3 p-t-23">
								Nulla eget sem vitae eros pharetra viverra. Nam vitae luctus ligula. Mauris consequat ornare feugiat.
							</p>
							
							<!--  -->
							<div class="p-t-33">
								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">
										Size
									</div>

									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2" name="time">
												<option>Choose an option</option>
												<option>Size S</option>
												<option>Size M</option>
												<option>Size L</option>
												<option>Size XL</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>

								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">
										Color
									</div>

									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2" name="time">
												<option>Choose an option</option>
												<option>Red</option>
												<option>Blue</option>
												<option>White</option>
												<option>Grey</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>

								<div class="flex-w flex-r-m p-b-10">
									<div class="size-204 flex-w flex-m respon6-next">
										<div class="wrap-num-product flex-w m-r-20 m-tb-10">
											<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-minus"></i>
											</div>

											<input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="1">

											<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-plus"></i>
											</div>
										</div>

										<button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
											Add to cart
										</button>
									</div>
								</div>	
							</div>

							<!--  -->
							<div class="flex-w flex-m p-l-100 p-t-40 respon7">
								<div class="flex-m bor9 p-r-10 m-r-11">
									<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
										<i class="zmdi zmdi-favorite"></i>
									</a>
								</div>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
									<i class="fa fa-facebook"></i>
								</a>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
									<i class="fa fa-twitter"></i>
								</a>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
									<i class="fa fa-google-plus"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- modal for wallet -->
	<div class="modal fade" id="walletModal" tabindex="-1" role="dialog" aria-labelledby="walletModalLabel" aria-hidden="true">
		<div class="modal-dialog p-t-95 p-b-20" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="walletModalLabel">Your Balance</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
			  <p>Your wallet balance: ₹<span id="walletBalance"><%=walletData.balance%></span></p>
			  <p>Do you want to proceed with the payment using your wallet?</p>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			  <button type="button" class="btn btn-primary" id="walletConfirm">Place Order</button>
			</div>
		  </div>
		</div>
	  </div>

	

    <script>
		$(document).ready(function() {
		  update_amounts();
		});
		
		function update_amounts() {
		  let subtotal = 0;
		  $("#protable > tbody > tr").each(function() {
			let priceText = $(this).find(".proprice").text();
			let price = parseFloat(priceText.replace(/[^\d\.]/g, ""));
			if (!isNaN(price)) {
			  subtotal += price;
			}
		  });
		
		  let couponrsText = $('#discount').text();
		  let couponrs = parseFloat(couponrsText.replace(/[^\d\.]/g, ""));
		  if (isNaN(couponrs)) {
			couponrs = 0;
		  }
		
		  let total = subtotal - couponrs;
		
		  $("#subtotal").text("₹" + subtotal.toFixed(2));
		  $("#finaltotal").text("₹" + total.toFixed(2));
		}
		
		$(document).ready(function(){
		  $(".couponbtn").on("click",function(){
			console.log('clicked');
			var coupon=$("#couponcode").val();
			var subtotal=$("#subtotal").text().replace(/[^\d\.]/g, "");
			subtotal = parseInt(subtotal);
			let data = {code:coupon, amount:subtotal};
			console.log(data);
			$.ajax({
			  url:"/checkvalidcoupon",
			  method:'POST',
			  data:data,
		
			  success:function(response){
				if(response.msg=="1"){
				  let discount = response.discount;
				  $("#discount").text("₹" + discount.toFixed(2));
				  update_amounts();
				  document.getElementById("success").innerHTML = "Coupon Applied";
				}else{
				  document.getElementById("invalid").innerHTML = response.message
				  setTimeout(function(){
					document.getElementById("invalid").innerHTML = "";  
				  },2000);
				  $("#couponcode").val("")
				}
			  }
			})
		  })
		})
		
		$("#placeOrder").on("click", function() {
		  var address = $("input[name=customerAddress]:checked").val();
		  var paymentMethod = $('.accordion-summary .card-header .method[aria-expanded="true"]').data("method");
		  var coupon = $("#couponcode").val();
		  var couponamount = $("#discount").text().replace(/[^\d\.]/g, "");
		  var purchase = $("#finaltotal").text().replace(/[^\d\.]/g, "");
		  console.log(paymentMethod,coupon,couponamount,purchase);
		  var data = {
			paymentmethod: paymentMethod,
			total: purchase,
			address: address,
			coupon: coupon,
			discount: couponamount,
			
		}
		console.log(data.discount);
		console.log("checkckkkkk");
		
		  
		
		  if (!address) {
			Swal.fire({
			  title: "Address",
			  text: "Address not selected",
			  icon: "error",
			  confirmButtonText: "OK",
			});
			return;
		  } else if (!paymentMethod) {
			Swal.fire({
			  title: "Payment",
			  text: "Payment method not selected",
			  icon: "error",
			  confirmButtonText: "OK",
			});
			return;
		  } else if (paymentMethod == "Razorpay") {
			$.ajax({
			  url: "/razorpay",
			  type: "POST",
			  data: { amount: purchase },
			  success: function(res) {
				if (!res.message) {
				  stockOut(res.msg);
				} else {
				  console.log(res.success);
				  if (res.success) {
					var options = {
					  "key": ""+res.key_id+"",
					  "amount": ""+res.amount+"",
					  "currency": "INR",
					  "name": "MarvelWears",
					  "image": "",
					  "handler": function(response){
						Swal.fire({
						  title: "Success",
						  text: "Order Success",
						  icon: "info",
						  confirmButtonText: "OK",
						}).then(function() {
						  saveOrder();
						});
					  },
					  "prefill": {
						"name": ""+res.name+"",
						"email": ""+res.email+""
					  },
					  "notes": {
						"description": "Description"
					  },
					  "theme": {
						"color": "#2300a3"
					  }
					};
					var razorpayObject = new Razorpay(options);
					razorpayObject.on("payment.failed", function(response){
					  Swal.fire({
						title: "Payment Failed",
						text: "Order not placed",
						icon: "error",
						confirmButtonText: "OK"
					  });
					});
					razorpayObject.open();
				  } else {
					alert(res.msg)
				  }
				}
			  }
			})
		  }else if (paymentMethod == "Wallet") {
			console.log("llllllllllllllllllllllllllllllllll");
			var purchase = parseFloat($("#finaltotal").text().replace(/[^\d\.]/g, ""));
			var walletBalance = parseFloat($("#walletBalance").text().replace(/[^\d\.]/g, "")); 
			console.log(purchase,walletBalance);
			if (walletBalance >= purchase) {
				console.log("ggggggggggggggggggggg");
			$("#walletModal").modal('show');
			} else {
        Swal.fire({
          title: "Insufficient Balance",
          text: "Your wallet balance is not sufficient to place the order.",
          icon: "error",
          confirmButtonText: "OK",
        });
        // Collapse the accordion to prevent proceeding with payment
        var collapseTarget = $(this).attr("href");
        $(collapseTarget).collapse('hide'); 
	}
	$(document).on("click", "#walletConfirm", function() {
  var purchase = parseFloat($("#finaltotal").text().replace(/[^\d\.]/g, ""));
  var data = {
    paymentmethod: "Wallet",
    total: purchase,
    address: address,
    coupon: coupon,
    discount: couponamount,
  };

  $.ajax({
    url: "/placeOrder",
    method: "POST",
    data: data,

    success: function(response) {
      if (response.message == "1") {
        Swal.fire({
          title: "Success",
          text: "Order placed successfully",
          icon: "success",
          confirmButtonText: "OK",
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.href = "/orders";
          }
        });
      } else if (response.message == "0") {
        stockOut(response.msg);
      } else {
        console.log("Error");
        Swal.fire({
          title: "Error",
          text: "Something went wrong. Please try again later.",
          icon: "error",
          confirmButtonText: "OK",
        });
      }
    },
  });
});

}else if (paymentMethod == "COD") {
			
			saveOrder();
		  } else {
			Swal.fire({
			  title: "Payment",
			  text: "Invalid payment method selected",
			  icon: "error",
			  confirmButtonText: "OK",
			});
		  }
		
		  function saveOrder() {
			var purchase = parseFloat($("#finaltotal").text().replace(/[^\d\.]/g, ""));
			var data = {
			  paymentmethod: paymentMethod,
			  total: purchase,
			  address: address,
			  coupon: coupon,
			discount: couponamount,
			};
		
			$.ajax({
			  url: "/placeOrder",
			  method: "POST",
			  data: data,
		
			  success: function(response) {
				if (response.message == "1") {
				  Swal.fire({
					title: "Success",
					text: "Order placed successfully",
					icon: "success",
					confirmButtonText: "OK",
				  }).then((result) => {
					if (result.isConfirmed) {
					  window.location.href = "/orders";
					}
				  });
				} else if (response.message == "0") {
				  stockOut(response.msg);
				} else {
				  console.log("Error");
				  Swal.fire({
					title: "Error",
					text: "Something went wrong. Please try again later.",
					icon: "error",
					confirmButtonText: "OK",
				  });
				}
			  },
			});
		  }
		
		  function stockOut(msg) {
			Swal.fire({
			  title: "Stock Out",
			  text: msg,
			  icon: "info",
			  confirmButtonText: "OK",
			});
		  }
		});
		</script>
    
    
   

   <!--===============================================================================================-->	
<script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="/static/vendor/daterangepicker/moment.min.js"></script>
	<script src="/static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/slick/slick.min.js"></script>
	<script src="/static/js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/parallax100/parallax100.js"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="/static/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->
	<script src="/static/vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/sweetalert/sweetalert.min.js"></script>
	<script>
		$('.js-addwish-b2').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	
	</script>
<!--===============================================================================================-->
	<script src="/static/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="/static/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
	<!-- profile script -->
    <script src="/static/admin/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/static/admin/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/static/admin/js/vendors/select2.min.js"></script>
    <script src="/static/admin/js/vendors/perfect-scrollbar.js"></script>
    <script src="/static/admin/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/static/admin/js/main.js" type="text/javascript"></script>
    <script src="/static/assets/js/bootstrap-input-spinner.js"></script>
<script src="/static/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Main JS File -->
<script src="/static/assets/js/main.js"></script>
<script src="/static/assets/js/demos/demo-15.js"></script>


<!-- swal fire -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.js"></script>


    <!-- ends -->
    <% if (locals.messageAlert) { %>
        <script>
          Swal.fire({
            icon: 'error',
            title: '<%=messageAlert%>',
            showConfirmButton: false,
            timer: 2000
          });
        </script>
    <% } %>
    <% if (locals.success) { %>
        <script>
          Swal.fire({
            icon: 'success',
            title: '<%=success%>',
            showConfirmButton: false,
            timer: 2300
          });
        </script>
    <% } %>

</body>
</html>